body {

  margin: 0px;

}

article {

  border: 15px solid;
  border-color: #4285F4;
  color: #FEFDFF;
  font: 36px sans-serif;
  margin: 0px;
  padding: 50px 0px;
  text-align: center;
  text-transform: capitalize;
  width: 350px;
  
}

main article:first-child {

  background: #E67676;
  margin-bottom: 5px;

}

main article:last-child {

  background: #A9E6E6;
  
}

p {

  margin: 0px;
  padding: 30px 0px;

}
