p {

  background: #0E91A1;
  border: 5px solid;
  border-color: #7DCE94;
  border-style: solid;
  color: #005567;
  font-size: 36px;
  height: 120px;
  margin-bottom: 10px;
  margin-top: 5px;
  padding-left: 10px;
  padding-top: 10px;
  text-align: left;
  text-transform: capitalize;
  width: 300px;

}